@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Quicksand:wght@300;400&display=swap');


/*----------------------
 GENEARL STYLING AND RESET
 ----------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

img{
  width: 100%;
}

body{
  background-color: #fff;
  background-image: url("./assets/backgroundImg.png");
}

/*----------------------
 NAVIGATION BAR STYLING
 -----------------------*/

#navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24292F;
  color: #fff;
  padding:  1.5em 1em;
  font-weight: 300;
}

.navbar--brand{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .05em;
  font-size: 1.5rem;
  text-shadow: 1px 2px #878a00;
  color: #fff;
}
a:-webkit-any-link {
  text-decoration: none;
}


.navbar--list{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.navbar--list a{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  margin: 0 .5em;
}
.navbar--list a:hover,
.navbar--list a:focus{
  color: #878a00;
  text-decoration: underline;
}

/*----------
 HOMEPAGE
 ----------- */

 #homepage{
   text-align: center;
   padding: 1em;
   overflow: hidden;
   max-width: 540px;
   margin: 0 auto;
 }
 .illustration{
   font-size: 1.5rem;
   margin-bottom: 1em;
   animation: illustration-in 1s linear forwards;
 }
 @keyframes illustration-in {
   0%{
     position: relative;
     right: 40%;
     opacity: 0.4;
   }

   100%{
     position: relative;
     right: 0;
     opacity: 1;
   }
 }

label, input{
  display: block;
  border: none;
  outline: none;
  width: 100%;
}

.search-input{
  background-color: transparent;
  height: 2rem;
  border-bottom: solid 2px #24292F;
  margin-bottom: .5em;
  font-size: 1.5rem;
  color: #000;
}
.search-input:focus,
.search-input:hover{
  background-color: transparent;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}
.input-search-button{
  background-color: #878a00;
  padding: .5em 1em;
  font-size: 1.2rem;
  border-radius: 8px 0 8px 0;
}
.input-search-button:focus,
.input-search-button:hover{
  background-color: #24292F;
  color: white;
}

.mascot-gif{
  margin: 4em auto 0;
  width: 70%;
}

/*--------------
 ABOUT PAGE
 -------------- */

 #about{
   padding: 1em;
   text-align: center;
   max-width: 540px;
   margin: 0 auto;
 }

 #about h2{
   font-size: 2rem;
   margin-bottom: .5em;
   font-weight: 500;
 }

 .about--article{
   border-radius: 10px 0 10px 0;
   text-align: left;
   position: relative;
   font-size: 1.2rem;
   letter-spacing: .05em;
   line-height: 1.5;
   padding: 1em .5em;
   background-color: #24292F;
   color: #fff;
   margin-bottom: .5em;
 }
 .about--article:nth-child(2){
  border-radius: 0 10px 0 10px;
 }

 #about ul{
   padding: 1em 4em;
   display: flex;
   list-style: none;
   justify-content: space-between;
   align-items: center;
 }

 #about svg{
  width: 2rem;
  height: 2rem;
  color: #000;
 }
 #about  svg:focus,
 #about svg:hover{
   color: #878a00;
   filter: drop-shadow(1px 2px #000);
 }

 /*------------------
  SINGLE USER PAGE
  -------------------- */

   /* LOADING STATE */
     .loading{
       position: relative;
       margin: 25% auto;
       display: flex;
       justify-content: space-between;
       align-items: center;
       width: 30%;
     }

     .load-dot{
       width: 1.5em;
       height: 1.5em;
       border-radius: 50%;
       background-color: #24292F;
       animation: load .5s alternate infinite linear;
     }
     .load-dot:nth-child(2){
       animation-delay: .2s;
     }
     .load-dot:nth-child(3){
      animation-delay: .4s;
    }
    @keyframes load {
      0%{
        margin-top: 0;
      }
      100%{
        margin-top: 2em;
      }
    }